In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from collections import defaultdict
from make_user_df import make_df
from make_predictions import predict_5

In [2]:
book_ids = [1, 2, 3, 4, 5]
user_df = make_df(book_ids)
user_df

   user_id  book_id  rating
0       14        1       5
1       14        2       5
2       14        3       5
3       14        4       5
4       14        5       5

In [5]:
X_path = os.path.abspath(
        os.path.join(
            os.pardir,
            os.pardir,
            'data',
            'processed',
            'X.csv'
            )
        )

In [4]:
ratings_csv_path = os.path.abspath(os.path.join(
    os.pardir,
    os.pardir,
    'data',
    'external',
    'ratings.csv'))

In [12]:
predict_5(user_df, X_path)

[6, 7, 8, 9, 10]

In [9]:
predict_5(user_df, ratings_csv_path)

MemoryError:

In [5]:
ratings = pd.read_csv(ratings_csv_path)

In [7]:
X = pd.read_csv(X_path)

In [8]:
X[['book_id', 'user_rating']].groupby('book_id').agg('mean').head(20)

         user_rating
book_id
1           4.416667
2           4.250000
3           4.277372
4           4.400000
5           5.000000
6           4.122449
7           5.000000
8           3.692308
9           5.000000
10          3.673913
11          3.954023
12          4.291667
13          5.000000
14          5.000000
15          5.000000
16          4.156977
17          3.670213
18          3.921875
19          3.590909
20          3.833333

In [ ]:
ratings[['book_id', 'user_rating']].groupby('book_id').agg('mean').head(20)

In [9]:
X['user_id'][0]

1

In [10]:
X['user_id'].unique()

array([        1,  31880928,   3472444,    269235,    122647,   2431437,
        93149311,  31000456,   1413439,  16576124,   4176715,    870755,
         1072582,  43377498,   5912889,   4216480,   5293536,    970632,
        10336538,   1654645,  19925133,   2281988,  23102950,  24239256,
         2602702,   3030788,  30604861,  32532051,   3672777,     68030,
         7302570,   8114361,  10553671,     12404,   1323157,    237469,
         2612079,   2745288,   3073485,   3098682,    430751,   4444249,
        51221960,   6023393,  80115954,  25184600,   3990914,   4866450,
         5496690,   7367573,  16219087,   7205303,   1019021,  11284813,
         1381728,  14514998,   1720620,  28798380,   2933855,  33674708,
         4391094,   4527753,   4717304,    541416,   7353428,  75860103,
        10367112,   1162953,    186853,   1964146,   2294090,  23133809,
        27402361,   2913816,   3081722,  32879029,   4929450,   5253785,
         8734459,   1605591,   3427339,     50448,  44098542,    104823,
         1053760,  13070326,   1380067,  14105531,  14457130,  16865002,
        25388909,   3977017,   4642710,   5210022,   5465462,   5626931,
        59802997,    607804,   6678151,    721595,    864675,   9303625,
         1371882,  19977507,  44770518,  53555116,   8906222,  91747222,
        23244211,   4379514,   4530043,   5574208,   5651679,  25683251,
       141080755,   1526851,  16731747,  18104163,    251943,   3734915,
         4365117,   4514828,   4851964,   5860019,   6089955,  66670237,
        71848701,  88247398,   9098678,   1005037,  12221088,   1806073,
        24337665,    279256,   3089655,   4326315,   7365405, 152460399,
        16254355,   2225246,   1232712,   4100763,  10915830,  11183856,
        18384692,  11745914,    405390,    974210,  13341540,  22819383,
        25375513,  33273494,  44673856,    106692,    111921,  38946743,
         4131979,  68029956,  25894509,   3078602,  25353295,   3498889,
         3920693,  44279580,   7668522,     83180, 106638288,  13235258,
         2562832,  52710209,   1036893,  23954351,  52677643,   9684061,
           45618,  11931807,  10160415,  73231193,   2190064,   6868829,
         7377888,   2164884,   1570669,   5451550,  30978160,  32340179,
         3849903,   8512869,     83582, 109778650,   2574606,   3258178,
        21651564,  58774673,   1601382,  46147310,  10717098,  19521241,
        19871593,   5126172,  16060275,  87796500,  33939264,   4159922,
         4391611,  11626803,  15335689,  51462925,  10682103,  46068563,
         5872506,   3023796,  36817401,  52545435,   9916227,    131922,
        11411702,   4125660,  32726092,  16384209,   8432851,  22888935,
         3571171,    885584, 100745367, 104868490,  40688075,  77805119,
        60886838,  19714462,  73494872,  69013291,  71205929,  41715705,
        73327119,    922495,  11757728,  12618229,   9472704,   4598713,
         1669197,   2657664,   1151637,  88016767,   8091367,  32730479,
         2026178,   5498948,   6743601,   3850379,  17755575,   4685500,
        16056426,   3734681,   4034227,  28967089,   1429160,   1892441,
        21960265,  18085807,  46859338,  26464437,  40957030,  14302918,
        26177107,  13631526,   1179650,   1222379,  11333561,   4646128,
        18605210, 104503042,   1125613,  18244539,  52537298,   1113032,
         1362506,  23385697,    914795,   1849639,  11237615,   7110209,
       124033258,  70651830,  98537597,   6873636,  14701283,  25556913,
        68646591,  63674323,  60147675,  81854535], dtype=int64)