In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from collections import defaultdict
from make_user_df import make_df
from make_predictions import predict_5

In [8]:
book_ids = [5656, 2108, 19965, 19930]
user_df = make_df(book_ids)
user_df

   user_id  book_id  rating
0       14     5656       5
1       14     2108       5
2       14    19965       5
3       14    19930       5

In [9]:
predict_5(user_df)

[1, 2, 3, 4, 5]

In [12]:
X_path = os.path.abspath(
        os.path.join(
            os.pardir,
            os.pardir,
            'data',
            'processed',
            'X.csv'
            )
        )

In [13]:
X = pd.read_csv(X_path)

In [14]:
X[['book_id', 'user_rating']].groupby('book_id').agg('mean').head(20)

         user_rating
book_id
1           5.000000
2           3.857143
3           5.000000
4           4.416667
5           4.384615
6           4.117647
7           4.250000
8           4.500000
9           4.266055
10          3.818182
11          4.000000
12          4.256410
13          4.243590
14          5.000000
15          4.395062
16          4.125000
17          5.000000
18          4.064516
19          4.076923
20          4.350000

In [15]:
X['user_id'][0]

1

In [16]:
X['user_id'].unique()

array([        1,  10553671,    111921,   2294090,   2431437,  25184600,
         2612079,  28798380,   3078602,   4717304,   8114361,    870755,
         8734459,    970632,    122647,   1413439,  16576124,    269235,
        31000456,  31880928,   3472444,   4176715,  93149311,   1072582,
         1605591,  18104163,    237469,   4216480,  43377498,  10336538,
        11745914,  22819383,   3977017,   5293536,   5912889,   7205303,
         1053760,   4365117,   6089955,   1005037,  10160415,   1019021,
        10367112,    104823,   1125613,  11284813,   1162953,  13070326,
         1323157,   1371882,   1380067,   1381728,  14105531, 141080755,
        14457130,  14514998, 152460399,   1526851,  16254355,   1654645,
         1669197,  16731747,   1720620,   1806073,    186853,   1964146,
        19977507,   2281988,  23102950,  23244211,  24239256,  24337665,
          251943,  25388909,   2602702,  27402361,    279256,   2913816,
         2933855,   3030788,  30604861,   3073485,   3081722,   3089655,
         3098682,  32879029,   3427339,   3672777,   3990914,    430751,
         4379514,   4391094,   4444249,  44770518,   4514828,   4527753,
        46068563,   4642710,   4851964,   4866450,   4929450,   5210022,
         5253785,  53555116,    541416,   5496690,   5574208,   5626931,
         5651679,   5860019,   6023393,    607804,   6678151,     68030,
        71848701,    721595,   7367573,  80115954,    864675,  88247398,
         8906222,  91747222,   9303625,   1151637,   3920693,  10915830,
        11183856,   2164884,  25683251,     83582,   5465462,   2574606,
        52545435,  10682103,   1113032,  25375513,   3571171,   4685500,
          922495,  11757728,  11931807,   1232712,  12618229,    131922,
         3849903,   7353428,   9472704,    106692,  22888935,    405390,
         1036893, 106638288,  33273494,   5872506,  13235258,  28967089,
        44673856,   7668522,   9916227,  25353295,   4125660,   4159922,
         9684061,  16219087,   1849639,   2190064,   2745288,  30978160,
        44098542,   3850379, 100745367,  69013291,  13631526,   2657664,
        71205929, 104868490,  60886838,  40688075,  77805119,  70651830,
        73494872,  26464437,  19714462,  13341540, 104503042,   4598713,
           12404,   1222379,  19521241,  23954351,   3734681,  16060275,
         8432851,  25894509,     83180,  15335689,   1570669,  11626803,
       109778650,   3498889,   2225246,  52537298,   6868829,  18085807,
        38946743,   4391611,   1892441,  10717098,  17755575,   5498948,
         2562832,  36817401,  52710209,  16384209,  14302918,  32340179,
         6743601,   2026178,  68646591,  25556913,  18244539,  60147675,
        11237615,  98537597,  18605210,  46147310,  32532051,   1601382,
           50448,  75860103,  18384692,   4100763,  23385697,    914795,
        26177107,  11333561,  52677643,  16056426,    974210,  32730479,
        41715705,   7110209,  32726092,   7365405,  88016767, 124033258,
         4646128,   4034227,   7377888,   4326315,  11411702,   5126172,
        12221088,  51221960,  66670237,  44279580,   1179650,   8091367,
        46859338,   4131979,   3258178,   4530043,   5451550,   1362506,
        21960265,   6873636,   1429160,  16865002,  33674708,  14701283,
        63674323,   3734915,  40957030,  19871593,  19925133,  21651564,
        51462925,  23133809,  68029956,  81854535,   3023796,  33939264,
         9098678,   8512869,  58774673,  59802997,  87796500,   7302570,
        73231193,    885584], dtype=int64)